.flex-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin: 5px;
}

.flex-item {
  border: 1.5px solid rgb(107, 106, 106);
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  text-align: center;
  min-width: 10%;
}

.flex-item h2 {
  color: rgb(107, 106, 106);
}
